{{> header}}

<h1>{{title}}</h1>

<div id="main-content" class="container">
    <style>
        table,
        th,
        td {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
        }
    </style>

    <div id="main-area">
        <table>
            <thead>
                <tr>
                    <th>Stato Trolley</th>
                    <th>Attività Trolley</th>
                    <th>Posizione Trolley</th>
                    <th>Vetro Depositato</th>
                    <th>Plastica Depositata</th>
                    <th>Stato Led</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="trolleyState">-</td>
                    <td id="trolleyActivity">-</td>
                    <td id="trolleyPosition">-</td>
                    <td><a id="depositedGlass">-</a>kg</td>
                    <td><a id="depositedPlastic">-</a>kg</td>
                    <td id="ledState">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{> footer}}