{{> header}}

<div id="main-content" class="container">
    <div class="w3-container">
        <h1>{{title}}</h1>
    </div>

   <div id="led" class="component">
        <div class="ledbox on">
            <p>Led On</p>
        </div>
    </div>

    <div id="sonar" class="component">
        <p>DLIMIT is {{dlimit}}</p>
        <input type="range" min="1" max="150" value="100" class="sonarSlider" id="sonarSlider">
        <p>-/{{dlimit}}</p>
        <p class="info">
            Distanza del sonar virtuale
        </p>
        <button type="button" class="sonarButton" id="sonarButton">Stop!</button>
        <p class="info">
            Tieni premuto il pulsante per inviare una distanza sotto DLIMIT ignorando lo slider, 
            rilascia per ritornare alla distanza dello slider.
        </p>
    </div>
</div>

{{> footer}}